.ProfilePanel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 300px 100px;
    grid-gap: 10px;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: var(--main-color);
    margin-right: 10px;
}

.person {
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: var(--additional-color);
    border-radius: var(--default-border-radius);
}

.info {
    background-color: var(--additional-color);
    padding: 20px;
    border-radius: var(--default-border-radius);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
}

.infoList {
    list-style: none;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 10px 0;
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: start;
    & > button {
        margin: 5px;
    }
}

.friends {
    background-color: var(--additional-color);
    grid-column: span 2;
}

