.Button {
    cursor: pointer;
    color: var(--text-color);
    border-radius: var(--default-border-radius);
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.classic {
    padding: 5px;
    outline: none;
    border: 1px solid var(--text-color);
    background-color: var(--additional-color);
}

.colored {
    padding: 5px;
    outline: none;
    border: 1px solid var(--text-color);
    background-color: var(--ui-color);
}

