.Sidebar {
    display: flex;
    height: calc(100vh - var(--navbar-height));
    background-color: var(--additional-color);
    border-right: 1px solid #ccc;
    position: relative;
}

.resizer {
    width: 2px;
    cursor: ew-resize;
    background-color: var(--inverted-main-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
