.SidebarContent {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 5px;
}

.icon {
    margin-right: 5px;
    fill: var(--text-color);
}

.Options {
    list-style: none;
}

.Option {
    padding: 3px;
    border-radius: var(--default-border-radius);
    &:hover {
        background-color: var(--ui-color);
    }
}

.user {
    margin-bottom: 20px;
}

.option {
    margin-bottom: 10px;
}

