.app.dark {
    --main-color: #1e1e1e;
    --inverted-main-color: #e7e7e7;

    --additional-color: #292929;
    --inverted-additional-color: #ffffff;

    --text-color: #ffffff;

    --ui-color: #35605f;
}

