.app.light {
    --main-color: #e7e7e7;
    --inverted-main-color: #4a4949;

    --additional-color: #ffffff;
    --inverted-additional-color: #000000;

    --text-color: #000000;

    --ui-color: #cee7e6;
}

